html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}

.taright {
	text-align: right !important;
}

.modal {
	max-height: 80%;
	overflow-y: auto;
}

.modal-body {
	max-height: 100%;
}

#page-container {
	padding-top: 20px;
}

#sticky-footer-push {
	height: 50px;
}

footer {
	margin: 0;
	padding: 0;
	height: 49px;
}

footer .siteby {
	float: right;
	display: inline;
	width: 109px;
	height: 49px;
	background: url('/assets/admin/img/site-by-propeller.png') no-repeat center right;
	text-indent: -9999px;
}

form input[type=submit] {
	margin: 0;
}

.hidden {
	display: none !important;
}

.dropdown {
	cursor: pointer;
}

.nav li.dropdown ul.dropdown-menu li:HOVER ul {
	display:block;
	position:absolute;
	left:100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	}

.nav li.dropdown ul.dropdown-menu ul {
	display: none;
	float:right;
	position: relative;
	top: auto;
	margin-top: -30px;
 }

.nav li.dropdown ul.dropdown-menu .dropdown-menu::before {
	content: '';
	display: inline-block;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right:7px solid #CCC;
	border-right-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 9px;
	left: -14px;
}

.nav li.dropdown ul.dropdown-menu .dropdown-menu::after {
	content: '';
	display: inline-block;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right:6px solid white;
	position: absolute;
	top: 10px;
	left: -12px;
}

body.admin-groups-roles h2 {
	overflow: hidden;
	cursor: default;
}

.mb10 {
	margin-bottom: 10px;
}

.has-multi-field .single-field {
	margin-top: 25px;
}

body .navbar .nav>li>a {
	padding: 10px 12px 10px;
}
