@charset "utf-8";
/* CSS Document */

tr, th {
	vertical-align:top;
	}

lable.season {
	width:150px;
	}

/********** Look Book **********/

.season-container {
	float:left;
	display:inline;
	width:960px;
	}
	
	.season-container label {
		width:100px;
		float:left;
		}
	
	.season-container select {
		width:200px;
		}
	
	.season-container .newlbitem {
		float:right;
		width:250px!important;
		}

.item {
	float:left;
	display:inline;
	width:960px;
	margin:20px 0;
	padding:10px 0 0;
	border-top: 1px solid #D9DADD;
	}
	
.lookbook-image-container h3, .lookbook-description-container h3, .lookbook-associated-container h3 {
	line-height:18px;
	font-size:16px;
	font-weight:bold;
	color:#666666;
	}

.lookbook-image-container {
	float:left;
	display:inline;
	width:200px;
	margin-right:20px;
	}
	
	.lookbook-image-container img {
		border:1px solid #cccccc;
		}

.lookbook-description-container {
	float:left;
	display:inline;
	width:250px;
	margin-right:20px;
	}
	
	.lookbook-description-container textarea {
		width:230px;
		float:left;
		height:242px;
		}
	
.lookbook-associated-container {
	float:left;
	display:inline;
	width:470px;
	}

.lookbook-btn-container {
	float:left;
	display:inline;
	width:960px;
	margin:10px 0;
	}
	
	.image-change-btn {
		width:200px;
		margin-right:20px;
		}
	
	.description-change-btn {
		width:250px;
		margin-right:20px;
		}
	
	.associated-change-btn {
		width:470px;
		}
		
.image-change-btn input, .description-change-btn input, .associated-change-btn input, .lookbook-associated-container input, .promocodes-welcome-addedit .left-col .button-container input, .promocodes-welcome-addedit .right-col .button-container input  {
	background: none repeat scroll 0 0 #cccccc;
	border: 1px solid #999999;
	box-shadow: 0 0 5px #999999 inset;
	color:#666666;
	}
	
	.lookbook-associated-container input {
		margin-top:20px;
		
		}
	
	.image-change-btn input:hover, .description-change-btn input:hover, .associated-change-btn input:hover, .lookbook-associated-container input:hover  {
		color:#ffffff;
		}

.assocprods {
	width:470px;
	}
	
	.assocprods th {
		text-align:left;
		}

/********** Order Status **********/

.order-status-container {	
	float:left;
	display:inline;
	width:960px;
	}

	.order-status-container tr.headers, #seo tr.headers,  #usersummary tr.headers {
		background-color:#e1e1e1;
		border-bottom:1px solid #cccccc;
		}
		
	.order-status-container tr.filters, #seo tr.filters,  #usersummary tr.filters {
		background-color:#ededed;
		}

	.order-status-container .data-table {
		width:960px;
		float:left;
		vertical-align:top;
		}
	.order-status-container table.data-table th {
		width:150px;
		}
		
	.order-status-container th input {
		width:130px;
		}
	
	.order-status-container th.cell-3 input, .order-status-container th.cell-4 input, .order-status-container th.cell-5 input, .order-status-container th.cell-6 select {
		margin-top:25px;
		}
	
	.order-status-container .data-table span {
		padding:5px 0;
		float:left;
		}
	
/********** Sale Prices ***********/

.sale-prices-container {
	float:left;
	display:inline;
	width:960px;
	margin-bottom:20px;
	}
	
	.search-sale-prices {
		float:left;
		display:inline;
		width:960px;
		margin:10px 0 20px;
		border-bottom:1px solid #cccccc;
		padding-bottom:20px;
		}
		
	#refresh {
		float:left;
		display:inline;
		width:960px;
		}
		
		#refresh .col1 {
			width:50px;
			text-align:left;
			}
		
		#refresh .col2 {
			width:640px;
			text-align:left;
			}
		
		#refresh .col3 {
			width:200px;
			text-align:left;
			}
			
		#refresh .col4 {
			width:250px;
			text-align:left;
			}
	
	.sale-price-val {
		margin-left:5px;
		}

/************* Promocodes ************/

#promosummary {
	float:left;
	display:inline;
	width:960px;
	}
	
	#promosummary table.data-table th.cell-1, #promosummary table.data-table th.cell-2, #promosummary table.data-table th.cell-3, #promosummary table.data-table th.cell-4 {
		width:225px;
		}
		
		#promosummary table.data-table th.cell-1 input, #promosummary table.data-table th.cell-4 select {
			margin-top:25px;
			}
	
	#promosummary table.data-table span {
		width:100%;
		float:left;
		margin:5px 0;
		}
	
.promocodes-welcome-addedit .left-col {
	float:left;
	display:inline;
	width:470px;
	margin:20px 20px 0 0;
}

.promocodes-welcome-addedit .right-col {
	float:left;
	display:inline;
	width:470px;
	margin:20px 0 0 0;
}

.promocodes-welcome-addedit .left-col div, .promocodes-welcome-addedit .right-col div {
	float:left;
	display:inline;
	margin-bottom:5px;
	}
	
.promocodes-welcome-addedit .left-col fieldset, .promocodes-welcome-addedit .right-col fieldset {
	padding:15px;
	}

.promocodes-welcome-addedit .left-col .button-container, .promocodes-welcome-addedit .right-col .button-container {
	float:left;
	display:inline;
	margin:10px 0;
	width:100%;
	border-top:0;
}

.promo-codes-apply label {
	float:left;
	display:inline;
	width:200px;
	}
	
.promo-codes-apply .radioWrap {
	margin-top:3px;
	}

.promo-codes-do select {
	width:218px;
	}

.promo-codes-when {
	float:left!important;
	display:inline!important;
	margin-bottom:20px!important;
	border-bottom:1px solid #cccccc;
	}

.promo-codes-when label {
	float:left;
	display:inline;
	width:438px;
	margin-bottom:10px;
	}

.promo-tables {
	width:100%;
	}

	.promo-tables th {
		text-align:left;
		}

/************* Seasons ************/

.seasons-submit {
	border-top:1px solid #cccccc;
	padding-top:20px;
	}
		