/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  position: relative;
  width: 960px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container-full {
  width: 100%;
  min-width: 960px; }

.column, .columns {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px; }

.row {
  margin-bottom: 20px; }

/* Nested Column Classes */
.column.alpha, .columns.alpha {
  margin-left: 0; }

.column.omega, .columns.omega {
  margin-right: 0; }

/* Base Grid */
.container .one.column {
  width: 60px; }

.container .two.columns {
  width: 140px; }

.container .three.columns {
  width: 220px; }

.container .four.columns {
  width: 300px; }

.container .five.columns {
  width: 380px; }

.container .six.columns {
  width: 460px; }

.container .seven.columns {
  width: 540px; }

.container .eight.columns {
  width: 620px; }

.container .nine.columns {
  width: 700px; }

.container .ten.columns {
  width: 780px; }

.container .eleven.columns {
  width: 860px; }

.container .twelve.columns {
  width: 940px; }

/* Offsets */
.container .offset-by-one {
  padding-left: 80px; }

.container .offset-by-two {
  padding-left: 160px; }

.container .offset-by-three {
  padding-left: 240px; }

.container .offset-by-four {
  padding-left: 320px; }

.container .offset-by-five {
  padding-left: 400px; }

.container .offset-by-six {
  padding-left: 480px; }

.container .offset-by-seven {
  padding-left: 560px; }

.container .offset-by-eight {
  padding-left: 640px; }

.container .offset-by-nine {
  padding-left: 720px; }

.container .offset-by-ten {
  padding-left: 800px; }

.container .offset-by-eleven {
  padding-left: 860px; }

/* #Clearing
================================================== */
/* Self Clearing Goodness */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.row:after,
.clearfix:after {
  clear: both; }

.row,
.clearfix {
  zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

@font-face {
  font-family: 'PropShop';
  src: url("../font/PropShop.eot");
  src: url("../font/PropShop.eot?#iefix") format("embedded-opentype"), url("../font/PropShop.ttf") format("truetype"), url("../font/PropShop.woff") format("woff"), url("../font/PropShop.svg#PropShop") format("svg");
  font-weight: normal;
  font-style: normal; }

[class*="icon-"] {
  font-family: 'PropShop';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-chevron-down:before {
  content: "\e600"; }

.icon-cog:before {
  content: "\e601"; }

.icon-undo:before {
  content: "\e602"; }

.icon-home:before {
  content: "\e603"; }

.icon-search:before {
  content: "\e604"; }

.icon-remove:before {
  content: "\e605"; }

.icon-chevron-left:before {
  content: "\e609"; }

.icon-chevron-right:before {
  content: "\e60a"; }

.icon-th:before {
  content: "\e60b"; }

.icon-th-list:before {
  content: "\e60c"; }

.icon-user:before {
  content: "\e014"; }

.icon-star:before {
  content: "\e032"; }

.icon-add-product:before {
  content: "\e608"; }

.icon-check-empty:before {
  content: "\e0f6"; }

.icon-check:before {
  content: "\e606"; }

html {
  font-family: "proxima-nova", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 11px;
  letter-spacing: 0.04em; }

body {
  background: #f4f4f4;
  line-height: 1.44444; }

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  font-weight: bold; }

h1 {
  font-size: 15px;
  font-size: 1.36364rem;
  margin-bottom: 14px; }

h2 {
  font-size: 25px;
  font-size: 2.27273rem; }

h3 {
  font-size: 12px;
  font-size: 1.09091rem; }

h4 {
  font-size: 11px;
  font-size: 1rem; }

h5 {
  font-size: 10px;
  font-size: 0.90909rem; }

p {
  margin-bottom: 20px; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: #4cc0bf; }

input, select {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: 0.04em;
  font-size: 11px;
  margin: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }
  input:focus, select:focus {
    outline: none; }

select {
  background: url(../img/chevron-down.svg) right center no-repeat white;
  -webkit-background-size: 10px;
  -moz-background-size: 10px;
  -ms-background-size: 10px;
  -o-background-size: 10px;
  background-size: 10px;
  border: none;
  text-transform: uppercase;
  -webkit-appearance: none;
  -moz-appearance: window;
  padding: 8px 15px 8px 6px; }

.top {
  background: black;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  line-height: 1;
  min-width: 960px; }
  .top h2 a {
    font-size: 16px;
    font-size: 1.45455rem; }
  .top h3 {
    color: #4cc0bf; }

.top__left, .top__right {
  padding: 20px 0; }

.top__left {
  padding-left: 10px;
  float: left; }

.top__right {
  float: right; }

.top__nav {
  float: right;
  line-height: 2.46667; }
  .top__nav ul {
    display: none; }
  .top__nav li {
    float: left; }
  .top__nav a {
    text-transform: uppercase;
    font-size: 15px;
    font-size: 1.36364rem;
    margin: 0 10px; }
  .top__nav > .active {
    color: #4cc0bf; }
    .top__nav > .active ul {
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0; }
    .top__nav > .active > ul {
      background: #272727;
      color: white;
      border-bottom: 3px solid #4cc0bf; }
      .top__nav > .active > ul a {
        font-size: 12px;
        font-size: 1.09091rem;
        display: block;
        margin: 0;
        padding: 0px 20px; }
      .top__nav > .active > ul > li {
        border-right: 1px solid black; }
        .top__nav > .active > ul > li > a {
          padding: 15px 20px; }
        .top__nav > .active > ul > li ul {
          background: #4cc0bf; }
      .top__nav > .active > ul .active {
        color: #272727; }
        .top__nav > .active > ul .active a {
          background: #4cc0bf; }
          .top__nav > .active > ul .active a:hover {
            color: white; }
        .top__nav > .active > ul .active ul {
          background: #4cc0bf; }
          .top__nav > .active > ul .active ul li a {
            margin: 0 20px;
            padding: 0; }

.top__admin {
  color: #4d4f4e;
  border: solid #272727;
  border-width: 0 0 0 1px;
  margin: -20px 0;
  padding: 20px 0; }
  .top__admin a {
    margin: 0 7px; }
  .top__admin.is-open > li > a {
    color: #4cc0bf; }
  .top__admin.is-open ul {
    position: absolute;
    display: block;
    background: black;
    z-index: 10;
    right: 28px;
    top: 0;
    text-align: right;
    border-left: 1px solid #272727;
    color: white; }
    .top__admin.is-open ul li {
      float: none; }
    .top__admin.is-open ul li:first-child {
      border-bottom: 1px solid #272727; }

#page-container {
  padding-top: 155px; }

.sidebar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 139px;
  background: black;
  color: white;
  margin-left: 0;
  padding: 51px 10px 30px;
  text-transform: uppercase;
  border-bottom: 3px solid #4cc0bf; }

.clear-sidebar {
  padding-left: 240px; }

.siteby {
  clear: both;
  float: right;
  margin-top: 50px; }

.panel {
  position: relative;
  float: left;
  z-index: 10;
  color: white; }
  .panel.is-open .panel__trigger {
    color: #4cc0bf;
    background: black; }
    .panel.is-open .panel__trigger:before {
      display: block; }
  .panel.is-open .panel__options {
    display: block; }

.panel__trigger {
  display: block;
  padding: 6px;
  width: 16px; }
  .panel__trigger i {
    display: block;
    font-size: 18px;
    font-size: 1.63636rem; }
  .panel__trigger:hover {
    color: white; }
  .panel__trigger:before {
    content: attr(data-label);
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    color: white;
    background: black;
    text-transform: uppercase;
    font-size: 12px;
    font-size: 1.09091rem;
    font-weight: bold;
    text-align: center;
    width: 92px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 6px 10px; }
    .panel--left .panel__trigger:before {
      border-right: 1px solid white;
      right: 100%; }
    .panel--right .panel__trigger:before {
      border-left: 1px solid white;
      left: 100%; }

.panel__options {
  position: absolute;
  display: none;
  background: black;
  border-top: 1px solid white;
  width: 120px;
  padding: 5px 10px;
  font-size: 12px;
  font-size: 1.09091rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: uppercase; }
  .panel--right .panel__options {
    left: 0;
    top: 100%; }
  .panel--left .panel__options {
    right: 0;
    top: 100%; }
  .panel__options a {
    margin: 3px 0;
    display: block; }

.panel--label {
  margin-right: 212px; }
  .panel--label .panel__trigger {
    background: black; }
    .panel--label .panel__trigger:before {
      display: block; }

.panel--btn .panel__trigger:before {
  width: 192px; }
.panel--btn .panel__options {
  width: 220px; }

.search {
  overflow: hidden;
  margin-bottom: 5px; }
  .search input, .search button {
    display: block;
    float: left;
    background: white;
    border: none;
    padding: 6px;
    line-height: 18px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .search input {
    width: 169px;
    margin-right: 1px; }
  .search button {
    width: 30px;
    background: white;
    border: none;
    font-size: 16px; }

.btn {
  display: inline-block;
  background: black;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 6px 0;
  text-align: center;
  margin: 0;
  border: none;
  width: 220px;
  font-size: 12px;
  font-size: 1.09091rem;
  position: relative; }
  .btn i {
    float: left;
    margin: -6px 0;
    padding: 6px 7px;
    font-size: 18px;
    font-size: 1.63636rem;
    border-right: 1px solid white; }

.btn-primary {
  background: #4cc0bf; }
  .btn-primary:hover {
    color: #272727; }

.form-horizontal .control-group {
  overflow: hidden;
  margin-bottom: 10px; }
.form-horizontal .control-label, .form-horizontal .controls {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
.form-horizontal .control-label, .form-horizontal .controls input {
  display: block;
  margin: 0;
  border: none;
  line-height: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 6px; }
.form-horizontal .control-label {
  width: 31.4%;
  background: #272727;
  color: white;
  font-weight: bold;
  font-size: 12px;
  font-size: 1.09091rem;
  text-transform: uppercase; }
.form-horizontal .controls {
  background: white;
  width: 67.4%;
  padding-right: 10px; }
  .form-horizontal .controls input {
    width: 100%; }
  .form-horizontal .controls select {
    display: block;
    width: 100%; }

.alert {
  padding: 10px;
  text-transform: uppercase;
  margin: 10px 0; }
  .alert i {
    float: left;
    padding: 8px;
    margin: -10px 10px 0 -10px;
    font-size: 19px;
    font-size: 1.72727rem;
    border-right: 1px solid #272727; }

.alert-success {
  background: #7aecb1; }

.alert-error {
  background: #f36c72; }

.alert-info {
  background: black;
  color: white; }

.datagrid-filter h3 {
  float: left;
  line-height: 29px; }
.datagrid-filter .panel {
  float: right; }
.datagrid-filter > ul {
  clear: both;
  margin: 10px 0; }
  .datagrid-filter > ul > li {
    margin-bottom: 10px; }
    .datagrid-filter > ul > li > .datagrid-category {
      font-weight: bold;
      font-size: 12px;
      font-size: 1.09091rem; }
      .datagrid-filter > ul > li > .datagrid-category > a {
        padding: 6px 10px; }
    .datagrid-filter > ul > li.active > .datagrid-category {
      width: 210px; }
      .datagrid-filter > ul > li.active > .datagrid-category:after {
        content: "";
        display: block;
        position: absolute;
        left: 100%;
        top: 0;
        height: 0;
        width: 0;
        border-style: solid;
        border-width: 15px 10px 14px;
        border-color: transparent transparent transparent #4cc0bf; }
.datagrid-filter li {
  clear: both; }
.datagrid-filter ul ul ul {
  padding-left: 10px; }

.datagrid-clear {
  position: absolute;
  top: 100%;
  right: 0;
  background: #4cc0bf;
  font-size: 21px;
  font-size: 1.90909rem;
  padding: 7px 7px 4px; }
  .datagrid-clear:hover {
    color: #272727; }
  .datagrid-clear i {
    display: block; }

.datagrid-category {
  background: #272727;
  margin-bottom: 1px;
  position: relative; }
  .datagrid-category > a {
    display: inline-block;
    padding: 7px 10px; }
    .datagrid-category > a:hover {
      color: white; }
  .datagrid-category .panel {
    display: none; }
  .active > .datagrid-category {
    background: #4cc0bf; }
  .datagrid-category .is-live, .datagrid-category .is-notlive {
    padding-left: 14px !important; }
    .datagrid-category .is-live:before, .datagrid-category .is-notlive:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 3px;
      border-right: 1px solid black; }
  .datagrid-category .is-live:before {
    background: #7aecb1; }
  .datagrid-category .is-notlive:before {
    background: #f36c72; }
  .datagrid-category:hover .panel {
    display: block; }

.datagrid-item {
  background: white;
  margin-bottom: 20px; }
  .datagrid-item img {
    width: 100%; }

.datagrid-item__info {
  border-top: 1px solid #f4f4f4;
  overflow: hidden;
  height: 42px;
  width: 100%;
  display: table; }
  .datagrid-item__info p {
    width: 100%;
    padding-right: 10px;
    display: table-cell;
    vertical-align: middle; }

.datagrid-item__checkbox {
  float: left;
  padding: 15px 5px;
  margin-right: 5px;
  border-right: 1px solid #f4f4f4; }
  .datagrid-item__checkbox input {
    margin: 0; }

.datagrid-bottom {
  border-top: 1px solid black;
  padding: 0 10px; }

.datagrid-perpage {
  float: right;
  background: white;
  border: 1px solid #dbdbdb;
  border-top: none;
  position: relative;
  padding-left: 10px;
  text-transform: uppercase; }
  .datagrid-perpage select {
    padding-left: 5px;
    margin-right: 10px; }

.datagrid-pagination a {
  display: block;
  float: left;
  border: 1px solid #dbdbdb;
  border-top: none;
  background: white;
  padding: 8px 0 7px 0;
  width: 28px;
  text-align: center;
  margin: 0 -1px 0 0; }
.datagrid-pagination i {
  vertical-align: middle; }
.datagrid-pagination .datagrid__view {
  font-size: 14px;
  font-size: 1.27273rem; }
  .datagrid-pagination .datagrid__view i {
    display: block; }
.datagrid-pagination .is-active {
  position: relative;
  top: -1px;
  padding-top: 9px;
  z-index: 2;
  background: #f4f4f4;
  border-color: black;
  color: #4cc0bf;
  font-weight: bold; }

.datagrid-pagination--right {
  float: right; }
