.admin-users-create, .admin-users-edit, .admin-users-password {
	label {
		width: 210px;
		float: left;
	}
	.help-inline {
		color: #FFFFFF;
	    float: left;
	    line-height: 20px;
	    margin-left: -16px;
	}
	input {
		width: 240px;
	}
	.control-group-multi {
		.controls {
			.multi-field {
				margin-bottom: 5px;
				height: 34px;
				width: 235px!important;
				label {
					float: left;
					width: 170px;
				}
				input {
					float: right;
					margin: 11px 10px 0 0;
				}
				&:nth-child(4n) {
					border-right-color: @white;
				}
			}
		}
	}
	.fieldset-buttons {
		bottom: 10px;
	    left: 980px;
	    position: fixed;
	    width: 220px;

	    .btn {
	    	display: block;
		    margin-bottom: 10px;
		    width: 100%;
	    }
	}
}

.admin-users-delete, .admin-groups-delete, .site-manage-site-delete {
	#confirm-delete {
		margin-top: 16px;
	}
	#confirmation {
		margin: 10px 0 0 10px;
	}
}

.admin-groups-create {
	label#label_name {
		width: 210px;
		float: left;
	}
	.help-inline {
		color: #FFFFFF;
	    float: left;
	    line-height: 20px;
	    margin-left: -16px;
	}
	input#name {
		width:388px;
	}
	.defined-roles {
		margin-top: 30px;
	}
}