.category-manage-create {

	#category_fieldset_sites {
		margin-bottom: 20px;
	}
	#category_fieldset_parent {
		margin-bottom: 10px;
	}
	#category_fieldset_media {
		float: left;
		width: 100%;
		margin-bottom: 20px;

		.media-add {
			width: 183px;
		}
	}
	#category_fieldset_seo {
		.control-group {
			overflow: visible;
		}
		.control-group-multi {
			overflow: hidden;
		}
		.control-label {
			margin-bottom: 0;
		}
		label {
			display: block;
			margin-bottom: 0;
			position: relative;
		}
		input {
			text-align: center;
			padding: 5px 0;
			width: 100%;
		}
		textarea {
			resize: vertical;
			width: 100%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			height: 80px;
		}
	}
	#label_title {
	    float: left;
	    width: 70px;
	}
	#label_status, #label_parent {
	    float: left;
	    width: 165px;
	}
	#label_parent {
		margin-left: 20px;
	}
	#status, #parent{
		float: left;
		width: 285px;
	}
	.help-inline {
		// Possibly temp
		float: left;
		line-height: 20px;
		margin-left: -15px;
		color: white;
	}
	.help-block {
		float: left;
		line-height: 34px;
		padding-left: 10px;
	}
	.fieldset-buttons {
		bottom: 10px;
	    left: 980px;
	    position: fixed;
	    width: 220px;

	    .btn {
	    	display: block;
		    margin-bottom: 10px;
		    width: 100%;
	    }
	}
	legend {
		border: none;
		.font-size(1.2);
		font-weight: bold;
		text-transform: uppercase;
		line-height: 16px;
		margin-bottom: 15px;
		+ .control-group {
			margin-top: 0;
		}
	}
	.markItUp {
		margin-top: -30px;
		z-index: 10;
		position: relative;
	}
	.markItUpContainer {
		background: transparent;
	}
	.markItUpHeader {
		padding-right: 44px;
	}
}