.cms-manage-block-edit, .cms-manage-block-create {
	#label_content {
		display: block;
	    margin-bottom: 0;
	    width: 370px;
	    float:left;
	}
	.textile {
		width: 510px;
	}
	#label_title {
		float: left;
		width: 70px;
	}
	.help-inline {

	}
	input {
		width: 415px;
	}
	.markItUp {
		margin-top: -30px;
		z-index: 10;
		position: relative;
		width: 100%;
	}
	.markItUpContainer {
		background: transparent;
	}
}

.cms-manage-menu-edit, .cms-manage-menu-create {
	input {
		width: 450px;
	}
}
.cms-manage-page-addedit, .cms-manage-page-edit {
	margin-top: 30px;

	select#status {
		width: 148px;
	}
}

.cms-manage-page- {
	.datagrid-top {
		input {
			float: left;
			margin-right: 20px;
		}
		select {
			float: left;
			margin-right: 20px;
		}
		.btn {
			float: left;
		}
	}
}

.cms-section {
	fieldset {
		float: none;
		.control-group {
			width: 100%;
			float: left;
		}
		.markitup-field {
			label {
				display: block;
				margin-bottom: 0;
				position: relative;
				width: 752px;
			}
			.textile {
				margin-top: -30px;
				z-index: 10;
				position: relative;
				width: 892px;
			}
		}
	}
}

.cms-manage-page-addedit, .blog-manage-post-addedit, .cms-manage-page-edit, .blog-manage-post-edit {
	#create_page {
		form {
			float: left;
		}
	}
	fieldset {
		#seo {
			#seo_title {
				text-align: left;
			}
		}
	}
	label {
		clear:both;
		margin-bottom:10px;
	}
	input[type="text"] {
		margin-bottom:10px;
	}
	#delete_slide_btn {
		margin-right:5px;
	}

	.buttons__top {
		fieldset {
			float:left;
			width:auto;
		}

		button {
			float:left;
		}
	}

	.tab-content__row {
		margin-bottom:10px;
		float:left;
		width:auto;
		clear:both;

		&.buttons {
			float:none;
			margin-bottom:20px;
		}
	}

	.slide__block {
		border-top:3px solid @offBlack;
		padding-top:10px;
	}
}



.cms-mediamanager-selected-item {
	img {
		padding: 0 0 20px 40px;
	}
	a.remove-section-img {
		margin-left: 40px;
	}
	input {
		margin-bottom: 5px;
	}
}

.cms-section-Slider {
	.tab-content {
		.tab-content__row {
			float: left;
			margin-bottom: 5px;
			.tab-content__label {
				float: left;
				width: 250px;
			}
			input[type="text"] {
				width: 648px;
			}
			.controls {
				input {
					margin-right: 10px;
				}
			}
			&.buttons {
				margin-bottom: 10px;
			}
		}
		.slide__block {
			img {
				margin-bottom: 20px;
			}
		}
	}
}

.chzn-container {
	width: 662px!important;
}
.btn.create-blog-tag, .btn.create-blog-category {
	margin-top: 0;
}

.cms-manage-page-addedit, .cms-manage-page-edit {
	#fancybox-content {
		.alert {
			margin-left: 0;
		}
	}
}

.image-map-form {
	input, textarea {
		width: 216px!important;
	}
	button {
		width: 100%;
	}
}
.js-imgmap-popup {
	background-color: @darkGray!important;
}