.cms-manage-block-edit, .cms-manage-block-create {
	#label_content {
		display: block;
	    margin-bottom: 0;
	    width: 370px;
	    float:left;
	}
	.textile {
		width: 510px;
	}
	#label_title {
		float: left;
		width: 70px;
	}
	.help-inline {
		
	}
	input {
		width: 415px;
	}
	.markItUp {
		margin-top: -30px;
		z-index: 10;
		position: relative;
		width: 100%;
	}
	.markItUpContainer {
		background: transparent;
	}
}

.cms-manage-menu-edit, .cms-manage-menu-create {
	input {
		width: 450px;
	}
}.cms-manage-page-addedit {
	margin-top: 30px;

	select#status {
		width: 148px;
	}
}