.customer-manage-group-delete {
	
	input#confirm {
		float: left;
		margin: 9px 0 0 10px;
	}
}

.customer-manage-customer-edit {
	.form-horizontal {
		.control-group {
			float: left;
			width: 100%;
		}
		.control-label {
			width:220px;
		}
		label {
			width:210px;
		}
	}

	.form-horizontal .controls {
		overflow:hidden;
		display:inline-block;
		margin-left:0;
	}

	.form-horizontal .control-group-multi .controls {
		display:block;
	}

	.form-horizontal .control-group-multi {
		width:100%;
	}

	.control-group-multi .controls .multi-field {
		width: 180px;
	}
}