.product-manage-edit {
	.markItUp {
		margin-top: -35px;
		z-index: 10;
		position: relative;
	}
	.markItUpContainer {
		background: transparent;
	}
	.markItUpHeader {
		padding-right: 44px;
	}
}

#product_fieldset_prices {
	fieldset {
		width: 20%;
		float: left;
		.control-group {
			margin-bottom: 1px;
		}
		.control-label {
			margin-bottom: 0;
		}
		label {
			display: block;
			border-right: 1px solid @black;
			margin-bottom: 0;
		}
		input {
			width: 100%;
			box-sizing: border-box;
			border-right: 1px solid @lightGray;
			text-align: center;
			margin-bottom: 0;
			height: 34px;
		}
		select {
			border: solid @lightGray;
			border-width: 0 1px 0 0;
			width: 100%;
		}
	}
}

#product_fieldset_media {
	width: 705px; // Temporary
	.media-buttons {
		float: right;
		margin-bottom: 20px;
	}
	.product-media {
		position: relative;
		float: left;
		margin-right: 20px;
		margin-bottom: 20px;
		display: none;
		img {
			width: 140px;
			height: auto;
		}
		.btn {
			position: absolute;
			top: 10px;
			left: 10px;
		}
		// Only show first 5 images
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4),
		&:nth-child(5) {
			display: block;
		}
		&:nth-child(3),
		&:nth-child(5) {
			margin-right: 0;
		}
		&:nth-child(1) {
			// First, main image
			margin-right: 45px;
			img {
				width: 360px;
			}
		}
		&:nth-child(2) {
			clear: right;
		}
	}
}

.label-char-counter {
	&:after {
		content: attr(data-char-count);
		float: right;
		color: @green;
		position: absolute;
		right: 0;
		top: 0;
		border-left: 1px solid @black;
		padding: 5px 10px;
	}
	&.desc-over-limit:after {
		color: @rose;
	}
}

#label_short_description {
	display: block;
	margin-bottom: 0;
	position: relative;
}
#short_description {
	width: 100%;
	resize: vertical;
	box-sizing: border-box;
	height: 80px;
}
#label_long_description {
	display: block;
	margin-bottom: 0;
	position: relative;
	border-bottom: 1px solid @black;
}

#product_fieldset_visibility {
	.group-label {
		margin-bottom: 5px;
		color: @white;
		background-color: @darkGray;
		text-align: center;
		padding: 5px;
		text-transform: uppercase;
		font-weight: bold;
	}
	.multi-field {
		background: @white;
		label {
			background: none;
			color: @black;
		}
	}
}

#product_fieldset_seo {
	.control-label {
		margin-bottom: 0;
	}
	label {
		display: block;
		margin-bottom: 0;
		position: relative;
	}
	input {
		text-align: center;
		padding: 5px 0;
		width: 100%;
	}
	textarea {
		resize: vertical;
		width: 100%;
		box-sizing: border-box;
		height: 80px;
	}
}