.shipping-manage-edit {
	.form-horizontal {
		.nav-tabs {
			text-transform: uppercase;
		}
		.controls {
			margin-left: 0;
			.multi-field {
				position: relative;
				input {
					position: absolute;
					top: 0;
					left: 0;
				}
				label {
					padding-left: 30px;
					white-space: nowrap;
					text-align: left;
					display: block !important;
				}
			}
		}
	}
	#countries {
		margin-bottom: 20px;
	}
}