.shipping-manage-edit {
	.form-horizontal {
		.nav-tabs {
			text-transform: uppercase;
		}
		.controls {
			margin-left: 0;
			.multi-field {
				position: relative;
				width:50%;
				input {
					position: absolute;
					top: 0;
					left: 0;
				}
				label {
					white-space: nowrap;
					text-align: left;
					display: block !important;
					padding:5px 30px;
					overflow:hidden;
				}
			}
		}
	}
	#countries {
		margin-bottom: 20px;
	}
}

.shipping-manage-create {

	.form-horizontal .controls {
		margin-left:0;
	}

	.control-group-multi .controls .multi-field {
		text-align:left;
		width:50%;
		position:relative;

		input {
			position: absolute;
			top: 0;
			left: 0;
		}

		label {
			white-space: nowrap;
			text-align: left;
			display: block !important;
			padding:5px 30px;
			overflow:hidden;
		}

	}
}