.shipping-manage-edit {
	.form-horizontal {
		.nav-tabs {
			text-transform: uppercase;
		}
		.controls {
			margin-left: 0;
			.multi-field {
				position: relative;
				input {
					position: absolute;
					top: 0;
					left: 0;
				}
				label {
					padding-left: 30px;
					white-space: nowrap;
					text-align: left;
					display: block !important;
				}
			}
		}
	}
	#countries {
		margin-bottom: 20px;
	}
}


.shipping-manage-create {
	.control-group-multi .controls .multi-field	{
		height:64px;
		padding:0;
		text-align:left;
		display:table;

		label {
			width:85%;
			white-space:normal;
			vertical-align:middle;
			line-height:15px;
			text-align:left;
			display:table-cell !important;
		}

		input {
			vertical-align:middle;
			margin:26px 9px 0 9px;
		}
	}
}

