html {
  font-size: 62.5%; /* Sets up the Base 10 stuff */
  padding: 146px 0 0 0;
}

.font-size(@sizeValue) {
	@remValue: @sizeValue;
	@pxValue: (@sizeValue * 10);
	font-size: ~"@{pxValue}px";
	font-size: ~"@{remValue}rem";
}

.container-full {
    min-width: 960px;
    width: 100%;
}

.top {
	background: @black;
	color: @white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;
	min-width: 960px;

	.top__left, .top__right {
		padding: 20px 0;
	}
	.top__left {
		padding-left: 10px;
		float: left;
		h2, h3 {
			padding: 0;
			margin: 0;
		}
		h2 {
			font-weight: bold;
			.font-size(2.5);
			line-height: 3px;
			a {
				i {
					.font-size(2);
				}
			}
		}
		h3 {
			font-weight: bold;
			.font-size(1.2);
			color: @blue;
			line-height: 12px;
		}
	}
	.top__right {
		float: right;
	}
	.top__nav {
		float: right;
		 margin: 7px 0 0 25px;
		ul {
			display: none;
		}
		li {
			float: left;
			list-style: none outside none;
			.font-size(1.5);
		}
		a {
			text-transform: uppercase;
			margin: 0 10px;
		}
		> .active {
			color: $shop;
			ul {
				display: block;
				position: absolute;
				top: 100%;
				left: 0;
				right: 0;
			}
			> ul {
				background: @darkGray;
				color: @white;
				border-bottom: 3px solid @blue;
				margin: 0;
				a {
					.font-size(1.2);
					display: block;
					margin: 0;
					padding: 0px 20px;
				}
				> li {
					border-right: 1px solid @black;
					> a {
						padding: 15px 20px;
					}
					ul {
						background: @blue;
					}
				}
				.active {
					color: @darkGray;
					a {
						background: @blue;
						&:hover {
							color: @white;
						}
					}
					ul {
						background: @blue;
						li {
							.font-size(1.4);
							a {
								margin: 0 20px;
								padding: 0;
							}
						}
					}
				}
			}
		}
	}
}
.top__admin {
	color: @white;
	border: solid @gray;
	border-width: 0 0 0 1px;
	margin: -20px 0!important;
	padding: 27px 0;
	a {
		margin: 0 7px;
	}
	&.is-open {
		> li > a {
			color: @blue;
		}
		ul {
			position: absolute;
			display: block;
			background: @black;
			z-index: 10;
			right: 33px;
			top: 1px;
			text-align: right;
			border-left: 1px solid @darkGray;
			color: $white;
			li {
				float: none;
				line-height: 38px;
			}
			li:first-child {
				border-bottom: 1px solid @darkGray;
			}
		}
	}
}