// Colors
	// Sections
	$shop: #4CC0BF;
	$cms: #E2BE50;
	$media: #E97947;
	$management: #725D9E;
	// Status
	$live: #7AECB1;
	$notlive: #F36C72;
	// BG & Copy
	$black: #000;
	$dark: #272727;
	$mid: #4D4F4E;
	$light: #F4F4F4;
	$white: #FFF;

// Typography
	//@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
	@font-face {
		font-family: 'Montserrat-Web';
		src: url('../font/Montserrat-Regular.eot');
		src: url('../font/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
			 url('../font/Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
			 url('../font/Montserrat-Regular.woff') format('woff'),
			 url('../font/Montserrat-Regular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'Montserrat-Web';
		src: url('../font/Montserrat-Bold.eot');
		src: url('../font/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
			 url('../font/Montserrat-Bold.svg#Montserrat-Bold') format('svg'),
			 url('../font/Montserrat-Bold.woff') format('woff'),
			 url('../font/Montserrat-Bold.ttf') format('truetype');
		font-weight: bold;
		font-style: normal;
	}

	// Rem Mixin
	$basefs: 11px;
	@mixin font-size($px) {
		font-size: $px;
		font-size: ($px/$basefs) + rem;
	}
	html {
		font-family: 'Montserrat-Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: $basefs;
		//letter-spacing: (40/1000) + em;
	}
	$boldweight: bold;
	body {
		background: $light;
		line-height: (26/18);
	}
	h1, h2, h3, h4, h5 {
		text-transform: uppercase;
		font-weight: $boldweight;
	}
	h1 {
		@include font-size(15px);
		margin-bottom: 14px;
	}
	h2 {
		@include font-size(25px);
	}
	h3 {
		@include font-size(12px);
	}
	h4 {
		@include font-size(11px);
	}
	h5 {
		@include font-size(10px);
	}
	p {
		margin-bottom: 20px;
	}

// Base Element Styles
a {
	color: inherit;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		color: $shop;
	}
}

input, select {
	font-family: 'Montserrat-Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
	letter-spacing: (40/1000) + em;
	font-size: $basefs;
	margin: 0;
	-webkit-border-radius: 0;
	        border-radius: 0;
	&:focus {
		outline: none;
	}
}

select {
	.no-ie.no-firefox & {
		background: url(../img/chevron-down.svg) right center no-repeat $white;
		@include background-size(10px);
		padding-right: 15px;
	}
	border: none;
	text-transform: uppercase;
	-webkit-appearance: none;
	padding: 8px 0 8px 6px;
}
.no-ie {
	input[type=checkbox] {
		-webkit-appearance: none;
		-moz-appearance: none;
		width: 12px;
		height: 12px;
		outline: 2px solid  $black;
		outline-offset: -2px;
		background: $white;
		&:checked {
			background: $shop;
			outline: 6px solid $shop;
			outline-offset: -6px;
		}
	}
}