.datagrid-filter {
	h3 {
		float: left;
		line-height: 29px;
	}
	.panel {
		float: right;
	}
	> ul {
		clear: both;
		margin: 10px 0;
		> li {
			margin-bottom: 10px;
			> .datagrid-category {
				font-weight: bold;
				@include font-size(12px);
				> a {
					padding: 6px 10px;
				}
			}
			&.active > .datagrid-category {
				width: 210px;
				&:after {
					content: "";
					display: block;
					position: absolute;
					left: 100%;
					top: 0;
					height: 0;
					width: 0;
					border-style: solid;
					border-width: 15px 10px 14px;
					border-color: transparent transparent transparent $shop;
				}
			}
		}
	}
	li {
		clear: both;
	}
	ul ul ul {
		padding-left: 10px;
	}
}
.datagrid-clear {
	position: absolute;
	top: 100%;
	right: 0;
	background: $shop;
	@include font-size(21px);
	padding: 7px 7px 4px;
	&:hover {
		color: $dark;
	}
	i {
		display: block;
	}
}
.datagrid-category {
	background: $dark;
	margin-bottom: 1px;
	position: relative;
	> a {
		display: inline-block;
		padding: 7px 10px;
		&:hover {
			color: $white;
		}
	}
	.panel {
		display: none;
	}
	.active > & {
		background: $shop;
	}
	.is-live, .is-notlive {
		padding-left: 14px !important;
		&:before {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			width: 3px;
			border-right: 1px solid $black;
		}
	}
	.is-live:before {
		background: $live;
	}
	.is-notlive:before {
		background: $notlive;
	}
	&:hover {
		.panel {
			display: block;
		}
	}
}
.datagrid-item {
	background: $white;
	margin-bottom: 20px;
	img {
		width: 100%;
	}
}
.datagrid-item__info {
	border-top: 1px solid $light;
	overflow: hidden;
	height: 42px;
	width: 100%;
	display: table;
	p {
		width: 100%;
		padding-right: 10px;
		display: table-cell;
		vertical-align: middle;
	}
}
.datagrid-item__checkbox {
	float: left;
	padding: 15px 5px;
	margin-right: 5px;
	border-right: 1px solid $light;
	input {
		margin: 0;
	}
}
.datagrid-bottom {
	border-top: 1px solid $black;
	padding: 0 10px;
}
.datagrid-perpage {
	float: right;
	background: $white;
	border: 1px solid darken($light, 10%);
	border-top: none;
	position: relative;
	padding-left: 10px;
	text-transform: uppercase;
	select {
		padding-left: 5px;
		margin-right: 10px;
	}
}
.datagrid-pagination {
	a {
		display: block;
		float: left;
		border: 1px solid darken($light, 10%);
		border-top: none;
		background: $white;
		padding: 8px 0 7px 0;
		width: 28px;
		text-align: center;
		margin: 0 -1px 0 0;
	}
	i {
		vertical-align: middle;
	}
	.datagrid__view {
		i {
			display: block;
		}
		@include font-size(14px);
	}
	.is-active {
		position: relative;
		top: -1px;
		padding-top: 9px;
		z-index: 2;
		background: $light;
		border-color: $black;
		color: $shop;
		font-weight: bold;
	}
}
.datagrid-pagination--right {
	float: right;
}