.datagrid-filter {
	> ul {
		margin: 10px 0;
		> li {
			margin-bottom: 10px;
			> .datagrid-category {
				@include font-size(12px);
				> a {
					padding: 8px 10px;
				}
			}
			&.active > .datagrid-category {
				width: 206px;
				&:after {
					content: "";
					display: block;
					position: absolute;
					left: 100%;
					top: 0;
					height: 0;
					width: 0;
					border-style: solid;
					border-width: 16px 10px;
					border-color: transparent transparent transparent $shop;
				}
			}
		}
	}
	li {
		clear: both;
	}
}
.datagrid-clear {
	position: absolute;
	top: 100%;
	right: 0;
	background: $shop;
	@include font-size(28px);
	padding: 2px 5px;
	i {
		display: block;
	}
}
.datagrid-category {
	background: $dark;
	margin-bottom: 1px;
	position: relative;
	padding-left: 4px;
	> a {
		display: inline-block;
		padding: 9px 10px;
		&:hover {
			color: $white;
		}
	}
	.panel {
		float: right;
		display: none;
	}
	.active > & {
		background: $shop;
	}
	&:before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 3px;
		border-right: 1px solid $black;
		background: $notlive;
		.is-live & {
			background: $live;
		}
	}
	&:hover {
		.panel {
			display: block;
		}
	}
}
.datagrid-items {
	border-bottom: 1px solid $black;
}

.datagrid-item {
	background: $white;
	margin-bottom: 20px;
	&:nth-child(3n+1) {
		clear: left;
	}
	img {
		width: 100%;
	}
}
.datagrid-item__info {
	border-top: 1px solid $light;
	overflow: hidden;
	height: 42px;
	width: 100%;
	display: table;
	p {
		width: 100%;
		padding-right: 10px;
		display: table-cell;
		vertical-align: middle;
	}
}
.datagrid-item__checkbox {
	float: left;
	padding: 15px 5px;
	margin-right: 5px;
	border-right: 1px solid $light;
	input {
		margin: 0;
	}
}
.datagrid-perpage {
	float: right;
	background: $white;
	border: 1px solid darken($light, 10%);
	border-top: none;
	position: relative;
	select {
		background: none;
		text-transform: uppercase;
		-webkit-appearance: none;
		-moz-appearance: window;
		border: none;
		padding: 7px 10px 8px 10px;
		display: block;
		position: relative;
		z-index: 2;
		.webkit &, .firefox & {
			padding-right: 22px;
		}
	}
	i {
		position: absolute;
		right: 10px;
		top: 9px;
		display: none;
		.webkit &, .firefox & {
			display: block;
		}
	}
}
.datagrid-pagination {
	a {
		display: block;
		float: left;
		border: 1px solid darken($light, 10%);
		border-top: none;
		background: $white;
		padding: 7px 0;
		width: 28px;
		text-align: center;
		margin: 0 -1px 0 0;
	}
	.datagrid__view {
		i {
			display: block;
		}
		@include font-size(14px);
	}
	.is-active {
		position: relative;
		top: -1px;
		padding-top: 8px;
		z-index: 2;
		background: $light;
		border-color: $black;
		color: $shop;
		font-weight: bold;
	}
}
.datagrid-pagination--right {
	float: right;
}