.panel {
	position: relative;
	float: left;
	z-index: 10;
	color: $white;
	&.is-open {
		.panel__trigger {
			background: $black;
			&:before {
				display: block;
			}
		}
		.panel__options {
			display: block;
		}
	}
}
.panel__trigger {
	display: block;
	padding: 7px;
	width: 16px;
	i {
		display: block;
		@include font-size(19px);
	}
	&:hover {
		color: $white;
	}
	&:before {
		content: attr(data-label);
		display: none;
		position: absolute;
		top: 0;
		background: $black;
		text-transform: uppercase;
		@include font-size(12px);
		font-weight: bold;
		width: 99px;
		padding: 8px 10px;

		.panel--left & {
			border-right: 1px solid $dark;
			right: 100%;
		}
		.panel--right & {
			border-left: 1px solid $dark;
			left: 100%;
		}

	}
}
.panel__options {
	position: absolute;
	display: none;
	background: $black;
	border-top: 1px solid $dark;
	width: 130px;
	padding: 5px 10px;
	@include font-size(12px);
	text-transform: uppercase;
	.panel--right & {
		left: 0;
		top: 100%;
	}
	.panel--left & {
		right: 0;
		top: 100%;
	}
	a {
		margin: 3px 0;
		display: block;
	}
}
.panel--label {
	.panel__trigger {
		background: $black;
		&:before {
			display: block;
		}
	}
}

.search {
	overflow: hidden;
	margin-bottom: 15px;
	input, button {
		display: block;
		float: left;
		background: $white;
		border: none;
		padding: 6px;
		line-height: 18px;
		margin: 0;
		@include box-sizing(border-box);
	}
	input {
		width: 169px;
		margin-right: 1px;
	}
	button {
		width: 30px;
		background: $white;
		border: none;
		font-size: 16px;
	}
}

.btn {
	display: inline-block;
	background: $black;
	color: $white;
	text-transform: uppercase;
	font-weight: bold;
	padding: 6px 0;
	text-align: center;
	margin: 0;
	line-height: 18px;
	border: none;
	width: 220px;
	@include font-size(12px);
}
.btn-primary {
	background: $shop;
}

.form-horizontal {
	.control-group {
		overflow: hidden;
		margin-bottom: 10px;
	}
	.control-label, .controls {
		float: left;
	}
	.control-label, .controls input {
		display: block;
		margin: 0;
		border: none;
		line-height: 18px;
		@include box-sizing(border-box);
		padding: 6px;
	}
	.control-label {
		width: 31.4%;
		background: $dark;
		color: $white;
		font-weight: bold;
		@include font-size(12px);
		text-transform: uppercase;
	}
	.controls {
		background: $white;
		width: 68.4%;
		input {
			width: 100%;
		}
		select {
			margin: 6px;
		}
	}
}

.alert {
	padding: 10px;
	text-transform: uppercase;
	margin: 10px 0;
	i {
		float: left;
		padding: 8px;
		margin: -10px 10px 0 -10px;
		@include font-size(19px);
		border-right: 1px solid $dark;

	}
}
.alert-success {
	background: $live;
}
.alert-error {
	background: $notlive;
}
.alert-info {
	background: $black;
	color: $white;
}